@media screen and (min-width: 360px) {
  body {
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;

    background: #241b34;
    margin-top: 20%;
  }
  .button {
    margin-left: 35%;
    padding: 10px;
  }
  .gambar {
    width: 250px;
    margin-left: 10%;
  }

  .tulisan {
    color: #10e321;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
  }

  .tombol {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #737d73;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 6%;
  }

  .tombol:hover {
    background-color: #3e8e41;
  }

  .tombol:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
